<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>Parakeet</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/public/manifest.json">
    <link rel="mask-icon" href="/public/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/public/favicon.ico">
    <meta name="msapplication-config" content="/public/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Parakeet is a free family fued style game that can be played on multiple browsers and devices." />
    <meta property="og:image" content="https://carbonrobot-parakeet.herokuapp.com/public/android-chrome-512x512.png" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/public/styles/styles.css">
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><a href="/">Parakeet</a></h3>
                    </div>
                </div>

                <div class="inner cover">
                    <parakeet-app></parakeet-app>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>created by <a href="https://github.com/carbonrobot/parakeet">carbonrobot</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="public/scripts/vendor.min.js"></script>
    <script src="public/scripts/app.js"></script>
</body>

</html>